.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
    gap: 20px;
}